<div class="row">
    <div class="col-12">
        <div class="content-header">Move Users</div>
    </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-md-6">
    <div class="card">
        <div class="card-body">
          <div class="card-block">
            <div class="form-group">
              <label>Move Users From</label>
              <select class="form-control" (change)="removeToList($event.target.value, $event)">
                  <option selected value="">Select List</option>
                  <option *ngFor="let list of listDetails" value="{{list.id}}" [disabled]="selectedToList == list.id">{{list.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <div class="card">
                  <div class="card-header">
                    <div class="card-title-wrap bar-success">
                      <h4 class="card-title">Users in {{moveFrom}}</h4>
                    </div>
                  </div>
                  <div class="card-body">
                      <div class="card-block">
                        <table class="table table-responsive-md">
                          <tbody>
                            <tr *ngFor="let user of users">
                              <td>
                                <div class="custom-control custom-checkbox m-0">
                                    <input type="checkbox" class="custom-control-input" id="user{{user.id}}" value="{{user.id}}" (change)="chooseUser($event.target.value, $event.target.checked)">
                                    <label class="custom-control-label" for="user{{user.id}}"></label>
                                </div>
                              </td>
                              <td>
                                {{user.FirstName}} {{user.LastName}}, {{user.email}}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                  </div>
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="moveUser()" [disabled]="(selectedToList == '' ||  submitted || selectedFromList == '')">Move User <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i></button>
              <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="cancelReset()">Reset</button>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 ">
    <div class="card">
        <div class="card-body">
          <div class="card-block">
            <div class="form-group">
              <label>Move Users To</label>
              <select class="form-control" (change)="removeFromList($event.target.value, $event)">
                  <option selected value="">Select List</option>
                  <option *ngFor="let list of listDetails" value="{{list.id}}" [disabled]="selectedFromList == list.id">{{list.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <div class="card">
                  <div class="card-header">
                    <div class="card-title-wrap bar-success">
                      <h4 class="card-title">Users in {{moveTo}}</h4>
                    </div>
                  </div>
                  <div class="card-body">
                      <div class="card-block">
                          <ul class="list-group">
                              <li class="list-group-item" *ngFor="let user of fromUsers">{{user.FirstName}} {{user.LastName}}, {{user.email}}</li>
                          </ul>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
