<section class="basic-elements">
	<div class="row">
	    <div class="col-md-6">
	        <div class="content-header">Reports</div>
	    </div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="card-title-wrap bar-success">
						<p>{{reportCount}} Reports</p>
					</div>
					<div class="card-body">
	                    <div class="card-block">
	                    	<!-- <ngx-datatable #table class='bootstrap' [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [limit]="10"></ngx-datatable> -->
	                        <table class="table table-responsive-sm">
	                            <thead>
	                                <tr>
	                                    <th>Status</th>
	                                    <th>Newsletter Name</th>
	                                    <th>Newsletter Sent</th>
	                                    <th>Open Rate</th>
	                                    <th>Bounce Rate</th>
	                                    <th>Click Through rate</th>
	                                    <th>Last Sent</th>
										<th></th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr *ngFor="let reportData of reportData">
	                                    <td>{{reportData.status}}</td>
	                                    <td>{{reportData.name}}</td>
	                                    <td>{{reportData.sent}}</td>
                        				<td>{{reportData.openRate}}</td>
	                                    <td>{{reportData.bounceRate}}</td>
	                                    <td>{{reportData.linkRate}}</td>
	                                    <td>{{reportData.date}}</td>
										<td><a class="success p-0" (click)="redirect(reportData.id);"><i class="icon-bar-chart"></i></a></td>
	                                </tr>
	                            </tbody>
	                        </table>
	                    </div>
                	</div>
				</div>
			</div>
		</div>
	</div>
</section>