<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Edit User</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <!-- <div class="card-header">
                <div class="card-title-wrap bar-success">
                    <h4 class="card-title">Regular Form (Reactive Form)</h4>
                </div>
            </div> -->
            <div class="card-body">
                <div class="card-block">
                    <form [formGroup]="regularForm" (ngSubmit)="onReactiveFormSubmit()" novalidate>
                        <div class="form-group">
                            <label>Username</label>
                            <input class="form-control" id="username" formControlName="username" placeholder="Enter Username" type="text">
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('username').valid && (regularForm.get('username').dirty || regularForm.get('username').touched)">Please enter a valid username!</small>
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" id="password" formControlName="password" placeholder="Enter Password" type="password">
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('password').valid && (regularForm.get('password').dirty || regularForm.get('password').touched)">Please enter a valid password!</small>
                        </div>

                        <div class="form-group">
                            <label>First Name</label>
                            <input class="form-control" id="firstName" formControlName="firstName" placeholder="Enter First Name" type="text">
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('firstName').valid && (regularForm.get('firstName').dirty || regularForm.get('firstName').touched)">Please enter a valid firstName!</small>
                        </div>

                        <div class="form-group">
                            <label>Last Name</label>
                            <input class="form-control" id="lastName" formControlName="lastName" placeholder="Enter Last Name" type="text">
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('lastName').valid && (regularForm.get('lastName').dirty || regularForm.get('lastName').touched)">Please enter a valid lastName!</small>
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" id="email" formControlName="email" placeholder="Enter Email" type="email">
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('email').valid && (regularForm.get('email').dirty || regularForm.get('email').touched)">Please enter a valid email!</small>
                        </div>

                        <div class="form-group">
                            <label>DOB</label>
                            <input class="form-control" id="dob" formControlName="dob" type="date">
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('dob').valid && (regularForm.get('dob').dirty || regularForm.get('dob').touched)">Please enter a valid dob!</small>
                        </div>

                        <div class="form-group">
                            <label class>Gender</label>
                            <div class="custom-control custom-radio display-block">
                                <input type="radio" id="genderRadios1" checked="{{gender == 'Female'}}" value="Female" name="genderRadios" class="custom-control-input">
                                <label class="custom-control-label" for="genderRadios1">Female</label>
                            </div>
                            <div class="custom-control custom-radio display-block">
                                <input type="radio" id="genderRadios2" checked="{{gender == 'Male'}}" value="Male" name="genderRadios" class="custom-control-input">
                                <label class="custom-control-label" for="genderRadios2">Male</label>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('genderRadios').valid && (regularForm.get('genderRadios').dirty || regularForm.get('genderRadios').touched)">Please choose Gender!</small>
                        </div>

                        <div class="form-group">
                            <label>Address</label>
                            <input class="form-control" id="address" formControlName="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('address').valid && (regularForm.get('address').dirty || regularForm.get('address').touched)">Please enter a valid address!</small>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="cancelEdit()">Cancel</button>
                            <button type="submit" class="btn btn-success btn-raised" [disabled]="!regularForm.valid || submitted">Submit <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
