<section class="basic-elements">
    <div class="row">
        <div class="col-md-6">
            <div class="content-header">Organizations</div>
        </div>
    </div>
	<div class="row" *ngIf="!showOrg">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>List of Organizations</p>
                        </div>
                        <div class="col-sm-6" style="text-align: right;">
                            <p>
                                <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket right" (click)="createOrg()"><span class="ft-plus"></span>Create Organization</a>
                            </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                        	
                            <!-- <ngx-datatable #table class='bootstrap' [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
                            </ngx-datatable> -->
                            <table class="table table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th>Organization Name</th>
                                        <th>Organization Email</th>
                                        <th>Organization Phone</th>
                                        <th>Organization Address</th>
                                        <th>Action</th>
                                        <th>Enable/Disable</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of organizations">
                                        <td>{{data.name}}</td>
                                        <td>{{data.email}}</td>
                                        <td>{{data.phone}}</td>
                                        <td>{{data.address}}</td>
                                        <td>
                                            <a class="success p-0" data-original-title="" title="" (click)="editOrganization(data.id)">
                                                <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                                            </a>
                                            <a class="danger p-0" data-original-title="" title="" (click)="viewOrganization(data.id)">
                                                <i class="ft-eye font-medium-3 mr-2"></i>
                                            </a>
                                        </td>
                                        <td>
									        <ui-switch [(ngModel)]="data.status" (ngModelChange)="onChange(this.data.status,data.id)"></ui-switch>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="showOrg">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                <div class="card-block">
                    <form [formGroup]="organizationForm" novalidate>
                        <div class="form-group">
                            <label for="orgName">Organization Name</label>

                            <input type="text" class="form-control" id="orgName" formControlName="orgName" [(ngModel)]="organization.orgName" required>
                            <small class="form-text text-muted danger" *ngIf="!organizationForm.get('orgName').valid && (organizationForm.get('orgName').dirty || organizationForm.get('orgName').touched)">This field is required!</small>
                        </div>
                        <div class="form-group">
                            <label for="orgEmail">Email</label>
                            <input type="email" class="form-control" id="orgEmail" formControlName="orgEmail" [(ngModel)]="organization.orgEmail" required>
                            <small class="form-text text-muted danger" *ngIf="!organizationForm.get('orgEmail').valid && (organizationForm.get('orgEmail').dirty || organizationForm.get('orgEmail').touched)">This field is required!</small>
                        </div>
                        <div class="form-group">
                            <label for="orgPhone">Phone</label>
                            <div class="input-group">
                                <input type="number" id="orgPhone" class="form-control" formControlName="orgPhone" [(ngModel)]="organization.orgPhone" required>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="!organizationForm.get('orgPhone').valid && (organizationForm.get('orgPhone').dirty || organizationForm.get('orgPhone').touched)">This field is required!</small>
                        </div>
                        <div class="form-group">
                            <label for="orgAddress">Address</label>
                            <div class="input-group">
                                <input type="text" id="orgAddress" class="form-control" formControlName="orgAddress" [(ngModel)]="organization.orgAddress" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)">
                            </div>
                            <small class="form-text text-muted danger" *ngIf="!organizationForm.get('orgAddress').valid && (organizationForm.get('orgAddress').dirty || organizationForm.get('orgAddress').touched)">This field is required!</small>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button>
                            <button type="submit" class="btn btn-success btn-raised" (click)="saveOrganization()" [disabled]="!organizationForm.valid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>