<section id="filter" class="mb-3">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Transactions</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                        <!-- <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Type to filter the name column...' (keyup)='updateFilter($event)'
                        /> -->
                        <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [limit]="10">
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>